name: Test

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - tox.ini
      - uv.lock
      - .github/workflows/test.yaml
      - .github/workflows/constraints.txt
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - tox.ini
      - uv.lock
      - .github/workflows/test.yaml
      - .github/workflows/constraints.txt
  workflow_dispatch: {}
  schedule:
    - cron: "40 12 * * 1-5"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

env:
  FORCE_COLOR: "1"

jobs:
  typing:
    name: Typing
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        id: setup-python
        with:
          python-version: "3.x"
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ">=0.6"
      - name: Install tools
        env:
          UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
          UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        run: |
          uv tool install --with tox-uv tox
      - name: Run typing
        run: |
          tox -e typing

  test:
    name: Pytest (Python ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04"]
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        include:
          - python-version: "pypy3.11"
            os: "ubuntu-24.04"
          - python-version: "3.13"
            os: "windows-2025"
          - python-version: "3.13"
            os: "macos-15"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ">=0.6"
      - name: Install tools
        env:
          UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        run: |
          uv tool install --with tox-uv tox
      - name: Run tests
        run: |
          tox -e ${{ matrix.python-version }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          include-hidden-files: true
          name: coverage-data-${{ matrix.os }}-${{ matrix.python-version }}
          path: ".coverage.*"
      - name: Run doctests
        run: |
          tox -e doctest

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs: test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ">=0.6"
      - name: Install tools
        env:
          UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        run: |
          uv tool install --with tox-uv tox
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - name: Create coverage XML report
        run: |
          tox -e coverage
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
